.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* border: solid black 1px; */
}

.array-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 500px;
    width: 1000px;
    /* border: solid black; */
}

.array-item {
    margin: 0;
    background-color: green;
    border: solid black 1px;
}